
body{

    margin: 0;
}
.contenedor-video {
    position: relative;
    width: 100%;
    height: 100vh;

}

.contenedor-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -82%);
    width: auto;
    height: auto;
    z-index: -10; 
    object-fit: cover;
}


h1{
    color: cornflowerblue;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
h2{
    color: cornflowerblue;
}
h4{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
p{

    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}


.mi-boton {
    background-color: #3498db; 
    color: rgb(0, 0, 0);             
    border: noness;          

    padding: 15px 30px;      
    font-size: 20px;         

    border-radius: 8px;        
    cursor: pointer;          

}

.boton-dos{
    background-color: #3498db;
    color: rgb(0, 0, 0);
    border: noness;

    padding: 15px 30px;
    font-size: 20px;

    border-radius: 8px;
    cursor: pointer;
}


.mi-boton:hover {
    background-color: #2980b9; 
}
.boton-dos:hover {
    background-color: #2980b9;
}

